@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap')

body
  margin: 0
  background-color: yellow
  font-weight: 600
  font-family: 'Nunito Sans', sans-serif

.view
  > section
    padding-top: 47px
    padding-left: var(--left-gutter-size)
    padding-right: var(--right-gutter-size)
    box-sizing: border-box

input
  padding: 15px 0

  ::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder
    color: red

header
  display: flex
  align-items: center
  font-weight: 600
