#app
  --left-gutter-size: 80px
  --right-gutter-size: 75px

  .light-text
    font-weight: 300

  .bold-bold
    font-weight: 800

.light
  --text-color: hsl(200, 15%, 8%)
  --text-input: hsl(0, 0%, 52%)
  --bg-color: hsl(0, 0%, 98%)
  --element-bg-color: hsl(0, 0%, 100%)

.dark
  --text-color: hsl(0, 0%, 100%)
  --text-input: hsl(0, 0%, 100%)
  --bg-color: hsl(207, 26%, 17%)
  --element-bg-color: hsl(209, 23%, 22%)
